@use '@common/assets/app.scss';

@use 'base-tag';

@use 'ui-color/ui-color';

@use 'has-binders';

@use 'mw-base';
@use 'mw-charinsert';
@use 'mw-editsection';
@use 'mw-highlight';
@use 'mw-parser-output';

@use 'page-bar';
@use 'page-cats';

@use 'printfooter';
@use 'toc';