/* app.css */
@import "tailwindcss";

@import '@common/assets/app.css';

@import './ui-color/ui-color.css';

@import './has-binders.css';

@import './mw-base.css';
@import './mw-charinsert.css';
@import './mw-editsection.css';
@import './mw-headings.css';
@import './mw-highlight.css';
@import './mw-parser-output.css';

@import './page-bar.css';
@import './page-cats.css';

@import './printfooter.css';
@import './toc.css';

@config "../../tailwind.config.js";
