/* mw-editsection.css */
.mw-editsection>a {
  @apply ml-1 p-1 rounded-full opacity-100 hover:bg-gray-200 dark:hover:bg-gray-700 text-inherit relative;
  font-size: 1em;
  top: 1px;
  color: transparent;

  &::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z' /></svg>");
    content: "";
    @apply dark:invert;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.3;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    top: -2px;
  }
}