/* mw-headings.css */
.mediawiki {

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0 1rem 0;
    letter-spacing: -0.025em;
  }
}

.mw-parser-output {
  .mw-headline::before {
    color: var(--z-text4);
  }

  counter-reset: h2 h3 h4 h5 h6;

  h2 {
    counter-increment: h2;
    counter-reset: h3 h4 h5 h6;

    >.mw-headline::before {
      content: counter(h2) ". ";
    }
  }

  h3 {
    counter-increment: h3;
    counter-reset: h4 h5 h6;

    >.mw-headline::before {
      content: counter(h2) "." counter(h3) " ";
    }
  }

  h4 {
    counter-increment: h4;
    counter-reset: h5 h6;

    >.mw-headline::before {
      content: counter(h2) "." counter(h3) "." counter(h4) " ";
    }
  }

  h5 {
    counter-increment: h5;
    counter-reset: h6;

    >.mw-headline::before {
      content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
    }
  }

  h6 {
    counter-increment: h6;

    >.mw-headline::before {
      content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
    }
  }
}