.page-cats {
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    padding: .3rem .6rem;
    margin-right: .5rem;
    border-radius: 9em;
    text-decoration: none;
    background-color: var(--z-link-bg);

    &:hover {
      background-color: var(--z-link-bg-hover);
    }
  }
}