.page-cats {
  li {
    display: inline-block;
  }

  a {
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;
    border-radius: 9em;
    text-decoration: none;
    background-color: var(--link-bg);

    &:hover {
      background-color: var(--link-bg-hover);
    }
  }
}