.page-cats {
  padding: 0;
  font-size: .8rem;

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    border-radius: .4rem;
    padding: .2rem .4rem;
    margin-right: .5rem;
    background-color: var(--z-link-bg);

    &:hover {
      background-color: var(--z-link-bg-hover);
    }
  }
}