/* page-cats.css */
.page-cats {
  padding: 0;
  font-size: 0.8rem;

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    border-radius: 0.4rem;
    padding: 0.2rem 0.4rem;
    margin-right: 0.5rem;
    background-color: var(--z-link-bg);

    &:hover {
      background-color: var(--z-link-bg-hover);
    }
  }
}
