.page-btn {
  display: inline-block;
  border-radius: 9em;
  padding: 0.375rem 0.75rem;
}

.page-btn:hover {
  text-decoration: none;
  background-color: #8883;
}

.page-menu a {
  display: block;
  white-space: nowrap;
  padding: 0.25rem 1.5rem;
  color: var(--text);
}

.page-menu a:hover {
  text-decoration: none;
  background-color: #8883;
}