.page-btn {
  @apply inline-block rounded-full z-text py-1.5 px-3;

  &:hover {
    @apply no-underline bg-gray-100 dark:bg-gray-700;
  }
}

.page-menu {
  a {
    @apply block whitespace-nowrap p-6 py-1 text-black dark:text-white;

    &:hover {
      @apply no-underline text-white bg-slate-600;
    }
  }
}