.scrollbar-simple {
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-corner {
        background: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--z-scrollbar);
        border-radius: 8px;
    }
}