/* toc.css */
.toc-inline {
  @apply md:hidden;
}

.toc-side {
  @apply hidden md:block;
}

.has-binders {
  .toc-inline {
    @apply md:block lg:hidden;
  }

  .toc-side {
    @apply md:hidden lg:block;
  }
}
