.has-binders {
  #toc {
    @apply inline-block lg:hidden;
  }
}

// #toc { display: inline-block; }
// .toctogglespan { display: none;	}
// .toctitle {
// 	border-radius: 3px 3px 0 0;
// 	padding: 1em 1em .6em 1.3em;
// }
// .toctitle h2 { margin: 0; padding: 0; font-size: 1.3em; }
// #toc li { list-style-type: none; }
// #toc ul { line-height: 1.6em; }
// #toc > ul {
// 	padding: 1em 1.5em;
// 	border: 1px solid;
// 	border-top: 0;
// 	border-radius: 0 0 4px 4px;
// 	margin: 0;
// }
#toc {
  @apply inline-block md:hidden text-sm;

  &>ul {
    padding: 1em 1.5em;
    border: 1px solid;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    margin: 0;
    @apply border-[#88888833] dark:border-[#383838];
  }

  ul {
    @apply list-none;
  }

  // li {
  //   list-style-type: none;
  // }
}

.toctitle {
  border-width: 1px;
  background-color: #7bc3;
  border-radius: 3px 3px 0 0;
  padding: 1em 1em 0.6em 1.3em;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
  }
}

.tocnumber:after {
  @apply text-z-text;
  content: ".";
}
