API_SERVER=https://apiserver
APP_URL=https://zetawiki.com
AVATAR_BASE_URL=https://avatars.zetawiki.com
DEV_MODE=false
INTERNAL_SECRET_KEY=
LOG_LEVEL=info

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mydb
DB_USERNAME=dbuser
DB_PASSWORD=dbpass

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

AD_CLIENT=
AD_SLOTS=

GA_MEASUREMENT_ID=
GA_PROPERTY_ID=
GA_READER_FILE=
GA_TIMEZONE=
GSC_SITE_URL=

LLM_ENDPOINT=
RUNBOX_ENDPOINT=
SEARCH_ENDPOINT=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=

EDITBOT_USERNAME=
EDITBOT_PASSWORD=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
