/* ui-color.css */
@import './variables.css';
@import './modules.css';

@reference 'tailwindcss';

.dark {

  & .oo-ui-indicator-down,
  & .oo-ui-iconElement-icon {
    @apply invert;
  }

  & .oo-ui-checkboxInputWidget-checkIcon.oo-ui-image-invert {
    @apply invert-0;
  }
}

/* oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget */
