/* app.css */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@import './mw-apex-dark.css';

@import '../shared/assets/app.css';

@import './has-binders.css';

@import './mw-base.css';
@import './mw-charinsert.css';
@import './mw-editsection.css';
@import './mw-headings.css';
@import './mw-highlight.css';
@import './mw-parser-output.css';

@import './page-btn.css';
@import './page-cats.css';

@import './printfooter.css';
@import './toc.css';

@config "../../tailwind.config.js";
