/* mw-base.css */
@reference 'tailwindcss';

#mw-content-text {
  @apply text-base leading-7;
}

article {
  & input,
  & select,
  & textarea {
    @apply border;
  }

  & input[type='submit'] {
    background-color: var(--z-btn);
    color: var(--z-text);

    border-radius: 0.25rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;

    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;

    &:hover {
      text-decoration: none;
      filter: brightness(0.9);
      color: inherit;
    }

    .dark &:hover {
      filter: brightness(1.5);
    }

    &:disabled,
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  & input[type='file'] {
    @apply border-0;
  }

  & input[type='radio'],
  & input[type='checkbox'] {
    @apply w-4 h-4 mx-2;
  }

  & fieldset {
    @apply border my-4 p-4 pt-0;
  }

  & legend {
    @apply p-2;
  }
}
