/* mw-editsection.css */
.mw-editsection-bracket {
  display: none;
}

.mw-editsection > a {
  border-radius: 9em;
  margin-left: 0.2rem;
  padding: 0.3rem;

  &:hover {
    background-color: var(--x-gray-200);
  }

  &::before {
    content: '';
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--x-gray-300);
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z'/%3E%3C/svg%3E");
  }
}
