/* toc.css */
@reference 'tailwindcss';

.toc-inline {
  @apply md:hidden;
}

.toc-side {
  @apply hidden md:block;
}

.toc-side-inner {
  position: sticky;
  top: calc(var(--navbar-visible-height) + 16px);
  height: calc(100vh - (var(--navbar-visible-height) + var(--footer-visible-height) + 32px));
  margin-top: 16px;
}

.has-binders {
  .toc-inline {
    @apply md:block lg:hidden;
  }

  .toc-side {
    @apply md:hidden lg:block;
  }
}
