/* https://github.com/shadcn-ui/ui/blob/main/apps/v4/app/globals.css */
@import 'tailwindcss';
@source "../../**/*.{svelte,ts,js,mustache}";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light dark;
}

:root:not(.dark) {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

@theme inline {
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 2000px;

  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);

  --radius-sm: 0.18rem;
  --radius-md: 0.24rem;
  --radius-lg: 0.3rem;
  --radius-xl: 0.42rem;
  --radius-2xl: 0.54rem;
  --radius-3xl: 0.66rem;
  --radius-4xl: 0.78rem;

  --color-background: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --color-foreground: light-dark(oklch(0% 0 0), oklch(0.985 0 0));

  --color-card: light-dark(oklch(1 0 0), oklch(0.205 0 0));
  --color-card-foreground: light-dark(oklch(0% 0 0), oklch(0.985 0 0));

  --color-popover: light-dark(oklch(1 0 0), oklch(0.205 0 0));
  --color-popover-foreground: light-dark(oklch(0% 0 0), oklch(0.985 0 0));

  --color-primary: light-dark(oklch(0% 0 0), oklch(0.922 0 0));
  --color-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));

  --color-secondary: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));

  --color-muted: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.708 0 0));

  --color-accent: light-dark(oklch(0.97 0 0), oklch(0.371 0 0));
  --color-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));

  --color-destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.704 0.191 22.216));
  --color-destructive-foreground: light-dark(oklch(0.97 0.01 17), oklch(0.58 0.22 27));

  --color-border: light-dark(#ddd, #333);
  --color-input: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 15%));
  --color-ring: light-dark(oklch(0.708 0 0), oklch(0.556 0 0));

  --color-sidebar: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
  --color-sidebar-foreground: light-dark(oklch(0% 0 0), oklch(0.985 0 0));
  --color-sidebar-primary: light-dark(oklch(0.205 0 0), oklch(0.488 0.243 264.376));
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-sidebar-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --color-sidebar-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
  --color-sidebar-ring: light-dark(oklch(0.708 0 0), oklch(0.439 0 0));

  --color-surface: light-dark(oklch(0.98 0 0), oklch(0.2 0 0));
  --color-surface-foreground: light-dark(oklch(0% 0 0), oklch(0.708 0 0));

  --color-code: var(--color-surface);
  --color-code-foreground: var(--color-surface-foreground);
  --color-code-highlight: light-dark(oklch(0.96 0 0), oklch(0.27 0 0));
  --color-code-number: light-dark(oklch(0.56 0 0), oklch(0.72 0 0));
}

@layer base {

  *,
  ::after,
  ::before {
    border-color: var(--color-border);
  }

  html {
    @apply overscroll-y-none;
  }

  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  .cn-font-heading {
    @apply font-heading;
  }

  [data-slot='layout'] {
    @apply overscroll-none;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-60 md:opacity-100;
  }

  [data-lang='ar'] {
    font-family: var(--font-ar);
  }

  [data-lang='he'] {
    font-family: var(--font-he);
  }
}