@theme {
  --color-x-white: light-dark(#fff, #000);
  --color-x-black: light-dark(#000, #fff);
  --color-x-red-50: light-dark(oklch(97.1% 0.013 17.38), oklch(25.8% 0.092 26.042));
  --color-x-red-100: light-dark(oklch(93.6% 0.032 17.717), oklch(39.6% 0.141 25.723));
  --color-x-red-200: light-dark(oklch(88.5% 0.062 18.334), oklch(44.4% 0.177 26.899));
  --color-x-red-300: light-dark(oklch(80.8% 0.114 19.571), oklch(50.5% 0.213 27.518));
  --color-x-red-400: light-dark(oklch(70.4% 0.191 22.216), oklch(57.7% 0.245 27.325));
  --color-x-red-500: light-dark(oklch(63.7% 0.237 25.331), oklch(63.7% 0.237 25.331));
  --color-x-red-600: light-dark(oklch(57.7% 0.245 27.325), oklch(70.4% 0.191 22.216));
  --color-x-red-700: light-dark(oklch(50.5% 0.213 27.518), oklch(80.8% 0.114 19.571));
  --color-x-red-800: light-dark(oklch(44.4% 0.177 26.899), oklch(88.5% 0.062 18.334));
  --color-x-red-900: light-dark(oklch(39.6% 0.141 25.723), oklch(93.6% 0.032 17.717));
  --color-x-red-950: light-dark(oklch(25.8% 0.092 26.042), oklch(97.1% 0.013 17.38));
  --color-x-orange-50: light-dark(oklch(98% 0.016 73.684), oklch(26.6% 0.079 36.259));
  --color-x-orange-100: light-dark(oklch(95.4% 0.038 75.164), oklch(40.8% 0.123 38.172));
  --color-x-orange-200: light-dark(oklch(90.1% 0.076 70.697), oklch(47% 0.157 37.304));
  --color-x-orange-300: light-dark(oklch(83.7% 0.128 66.29), oklch(55.3% 0.195 38.402));
  --color-x-orange-400: light-dark(oklch(75% 0.183 55.934), oklch(64.6% 0.222 41.116));
  --color-x-orange-500: light-dark(oklch(70.5% 0.213 47.604), oklch(70.5% 0.213 47.604));
  --color-x-orange-600: light-dark(oklch(64.6% 0.222 41.116), oklch(75% 0.183 55.934));
  --color-x-orange-700: light-dark(oklch(55.3% 0.195 38.402), oklch(83.7% 0.128 66.29));
  --color-x-orange-800: light-dark(oklch(47% 0.157 37.304), oklch(90.1% 0.076 70.697));
  --color-x-orange-900: light-dark(oklch(40.8% 0.123 38.172), oklch(95.4% 0.038 75.164));
  --color-x-orange-950: light-dark(oklch(26.6% 0.079 36.259), oklch(98% 0.016 73.684));
  --color-x-amber-50: light-dark(oklch(98.7% 0.022 95.277), oklch(27.9% 0.077 45.635));
  --color-x-amber-100: light-dark(oklch(96.2% 0.059 95.617), oklch(41.4% 0.112 45.904));
  --color-x-amber-200: light-dark(oklch(92.4% 0.12 95.746), oklch(47.3% 0.137 46.201));
  --color-x-amber-300: light-dark(oklch(87.9% 0.169 91.605), oklch(55.5% 0.163 48.998));
  --color-x-amber-400: light-dark(oklch(82.8% 0.189 84.429), oklch(66.6% 0.179 58.318));
  --color-x-amber-500: light-dark(oklch(76.9% 0.188 70.08), oklch(76.9% 0.188 70.08));
  --color-x-amber-600: light-dark(oklch(66.6% 0.179 58.318), oklch(82.8% 0.189 84.429));
  --color-x-amber-700: light-dark(oklch(55.5% 0.163 48.998), oklch(87.9% 0.169 91.605));
  --color-x-amber-800: light-dark(oklch(47.3% 0.137 46.201), oklch(92.4% 0.12 95.746));
  --color-x-amber-900: light-dark(oklch(41.4% 0.112 45.904), oklch(96.2% 0.059 95.617));
  --color-x-amber-950: light-dark(oklch(27.9% 0.077 45.635), oklch(98.7% 0.022 95.277));
  --color-x-yellow-50: light-dark(oklch(98.7% 0.026 102.212), oklch(28.6% 0.066 53.813));
  --color-x-yellow-100: light-dark(oklch(97.3% 0.071 103.193), oklch(42.1% 0.095 57.708));
  --color-x-yellow-200: light-dark(oklch(94.5% 0.129 101.54), oklch(47.6% 0.114 61.907));
  --color-x-yellow-300: light-dark(oklch(90.5% 0.182 98.111), oklch(55.4% 0.135 66.442));
  --color-x-yellow-400: light-dark(oklch(85.2% 0.199 91.936), oklch(68.1% 0.162 75.834));
  --color-x-yellow-500: light-dark(oklch(79.5% 0.184 86.047), oklch(79.5% 0.184 86.047));
  --color-x-yellow-600: light-dark(oklch(68.1% 0.162 75.834), oklch(85.2% 0.199 91.936));
  --color-x-yellow-700: light-dark(oklch(55.4% 0.135 66.442), oklch(90.5% 0.182 98.111));
  --color-x-yellow-800: light-dark(oklch(47.6% 0.114 61.907), oklch(94.5% 0.129 101.54));
  --color-x-yellow-900: light-dark(oklch(42.1% 0.095 57.708), oklch(97.3% 0.071 103.193));
  --color-x-yellow-950: light-dark(oklch(28.6% 0.066 53.813), oklch(98.7% 0.026 102.212));
  --color-x-lime-50: light-dark(oklch(98.6% 0.031 120.757), oklch(27.4% 0.072 132.109));
  --color-x-lime-100: light-dark(oklch(96.7% 0.067 122.328), oklch(40.5% 0.101 131.063));
  --color-x-lime-200: light-dark(oklch(93.8% 0.127 124.321), oklch(45.3% 0.124 130.933));
  --color-x-lime-300: light-dark(oklch(89.7% 0.196 126.665), oklch(53.2% 0.157 131.589));
  --color-x-lime-400: light-dark(oklch(84.1% 0.238 128.85), oklch(64.8% 0.2 131.684));
  --color-x-lime-500: light-dark(oklch(76.8% 0.233 130.85), oklch(76.8% 0.233 130.85));
  --color-x-lime-600: light-dark(oklch(64.8% 0.2 131.684), oklch(84.1% 0.238 128.85));
  --color-x-lime-700: light-dark(oklch(53.2% 0.157 131.589), oklch(89.7% 0.196 126.665));
  --color-x-lime-800: light-dark(oklch(45.3% 0.124 130.933), oklch(93.8% 0.127 124.321));
  --color-x-lime-900: light-dark(oklch(40.5% 0.101 131.063), oklch(96.7% 0.067 122.328));
  --color-x-lime-950: light-dark(oklch(27.4% 0.072 132.109), oklch(98.6% 0.031 120.757));
  --color-x-green-50: light-dark(oklch(98.2% 0.018 155.826), oklch(26.6% 0.065 152.934));
  --color-x-green-100: light-dark(oklch(96.2% 0.044 156.743), oklch(39.3% 0.095 152.535));
  --color-x-green-200: light-dark(oklch(92.5% 0.084 155.995), oklch(44.8% 0.119 151.328));
  --color-x-green-300: light-dark(oklch(87.1% 0.15 154.449), oklch(52.7% 0.154 150.069));
  --color-x-green-400: light-dark(oklch(79.2% 0.209 151.711), oklch(62.7% 0.194 149.214));
  --color-x-green-500: light-dark(oklch(72.3% 0.219 149.579), oklch(72.3% 0.219 149.579));
  --color-x-green-600: light-dark(oklch(62.7% 0.194 149.214), oklch(79.2% 0.209 151.711));
  --color-x-green-700: light-dark(oklch(52.7% 0.154 150.069), oklch(87.1% 0.15 154.449));
  --color-x-green-800: light-dark(oklch(44.8% 0.119 151.328), oklch(92.5% 0.084 155.995));
  --color-x-green-900: light-dark(oklch(39.3% 0.095 152.535), oklch(96.2% 0.044 156.743));
  --color-x-green-950: light-dark(oklch(26.6% 0.065 152.934), oklch(98.2% 0.018 155.826));
  --color-x-emerald-50: light-dark(oklch(97.9% 0.021 166.113), oklch(26.2% 0.051 172.552));
  --color-x-emerald-100: light-dark(oklch(95% 0.052 163.051), oklch(37.8% 0.077 168.94));
  --color-x-emerald-200: light-dark(oklch(90.5% 0.093 164.15), oklch(43.2% 0.095 166.913));
  --color-x-emerald-300: light-dark(oklch(84.5% 0.143 164.978), oklch(50.8% 0.118 165.612));
  --color-x-emerald-400: light-dark(oklch(76.5% 0.177 163.223), oklch(59.6% 0.145 163.225));
  --color-x-emerald-500: light-dark(oklch(69.6% 0.17 162.48), oklch(69.6% 0.17 162.48));
  --color-x-emerald-600: light-dark(oklch(59.6% 0.145 163.225), oklch(76.5% 0.177 163.223));
  --color-x-emerald-700: light-dark(oklch(50.8% 0.118 165.612), oklch(84.5% 0.143 164.978));
  --color-x-emerald-800: light-dark(oklch(43.2% 0.095 166.913), oklch(90.5% 0.093 164.15));
  --color-x-emerald-900: light-dark(oklch(37.8% 0.077 168.94), oklch(95% 0.052 163.051));
  --color-x-emerald-950: light-dark(oklch(26.2% 0.051 172.552), oklch(97.9% 0.021 166.113));
  --color-x-teal-50: light-dark(oklch(98.4% 0.014 180.72), oklch(27.7% 0.046 192.524));
  --color-x-teal-100: light-dark(oklch(95.3% 0.051 180.801), oklch(38.6% 0.063 188.416));
  --color-x-teal-200: light-dark(oklch(91% 0.096 180.426), oklch(43.7% 0.078 188.216));
  --color-x-teal-300: light-dark(oklch(85.5% 0.138 181.071), oklch(51.1% 0.096 186.391));
  --color-x-teal-400: light-dark(oklch(77.7% 0.152 181.912), oklch(60% 0.118 184.704));
  --color-x-teal-500: light-dark(oklch(70.4% 0.14 182.503), oklch(70.4% 0.14 182.503));
  --color-x-teal-600: light-dark(oklch(60% 0.118 184.704), oklch(77.7% 0.152 181.912));
  --color-x-teal-700: light-dark(oklch(51.1% 0.096 186.391), oklch(85.5% 0.138 181.071));
  --color-x-teal-800: light-dark(oklch(43.7% 0.078 188.216), oklch(91% 0.096 180.426));
  --color-x-teal-900: light-dark(oklch(38.6% 0.063 188.416), oklch(95.3% 0.051 180.801));
  --color-x-teal-950: light-dark(oklch(27.7% 0.046 192.524), oklch(98.4% 0.014 180.72));
  --color-x-cyan-50: light-dark(oklch(98.4% 0.019 200.873), oklch(30.2% 0.056 229.695));
  --color-x-cyan-100: light-dark(oklch(95.6% 0.045 203.388), oklch(39.8% 0.07 227.392));
  --color-x-cyan-200: light-dark(oklch(91.7% 0.08 205.041), oklch(45% 0.085 224.283));
  --color-x-cyan-300: light-dark(oklch(86.5% 0.127 207.078), oklch(52% 0.105 223.128));
  --color-x-cyan-400: light-dark(oklch(78.9% 0.154 211.53), oklch(60.9% 0.126 221.723));
  --color-x-cyan-500: light-dark(oklch(71.5% 0.143 215.221), oklch(71.5% 0.143 215.221));
  --color-x-cyan-600: light-dark(oklch(60.9% 0.126 221.723), oklch(78.9% 0.154 211.53));
  --color-x-cyan-700: light-dark(oklch(52% 0.105 223.128), oklch(86.5% 0.127 207.078));
  --color-x-cyan-800: light-dark(oklch(45% 0.085 224.283), oklch(91.7% 0.08 205.041));
  --color-x-cyan-900: light-dark(oklch(39.8% 0.07 227.392), oklch(95.6% 0.045 203.388));
  --color-x-cyan-950: light-dark(oklch(30.2% 0.056 229.695), oklch(98.4% 0.019 200.873));
  --color-x-sky-50: light-dark(oklch(97.7% 0.013 236.62), oklch(29.3% 0.066 243.157));
  --color-x-sky-100: light-dark(oklch(95.1% 0.026 236.824), oklch(39.1% 0.09 240.876));
  --color-x-sky-200: light-dark(oklch(90.1% 0.058 230.902), oklch(44.3% 0.11 240.79));
  --color-x-sky-300: light-dark(oklch(82.8% 0.111 230.318), oklch(50% 0.134 242.749));
  --color-x-sky-400: light-dark(oklch(74.6% 0.16 232.661), oklch(58.8% 0.158 241.966));
  --color-x-sky-500: light-dark(oklch(68.5% 0.169 237.323), oklch(68.5% 0.169 237.323));
  --color-x-sky-600: light-dark(oklch(58.8% 0.158 241.966), oklch(74.6% 0.16 232.661));
  --color-x-sky-700: light-dark(oklch(50% 0.134 242.749), oklch(82.8% 0.111 230.318));
  --color-x-sky-800: light-dark(oklch(44.3% 0.11 240.79), oklch(90.1% 0.058 230.902));
  --color-x-sky-900: light-dark(oklch(39.1% 0.09 240.876), oklch(95.1% 0.026 236.824));
  --color-x-sky-950: light-dark(oklch(29.3% 0.066 243.157), oklch(97.7% 0.013 236.62));
  --color-x-blue-50: light-dark(oklch(97% 0.014 254.604), oklch(28.2% 0.091 267.935));
  --color-x-blue-100: light-dark(oklch(93.2% 0.032 255.585), oklch(37.9% 0.146 265.522));
  --color-x-blue-200: light-dark(oklch(88.2% 0.059 254.128), oklch(42.4% 0.199 265.638));
  --color-x-blue-300: light-dark(oklch(80.9% 0.105 251.813), oklch(48.8% 0.243 264.376));
  --color-x-blue-400: light-dark(oklch(70.7% 0.165 254.624), oklch(54.6% 0.245 262.881));
  --color-x-blue-500: light-dark(oklch(62.3% 0.214 259.815), oklch(62.3% 0.214 259.815));
  --color-x-blue-600: light-dark(oklch(54.6% 0.245 262.881), oklch(70.7% 0.165 254.624));
  --color-x-blue-700: light-dark(oklch(48.8% 0.243 264.376), oklch(80.9% 0.105 251.813));
  --color-x-blue-800: light-dark(oklch(42.4% 0.199 265.638), oklch(88.2% 0.059 254.128));
  --color-x-blue-900: light-dark(oklch(37.9% 0.146 265.522), oklch(93.2% 0.032 255.585));
  --color-x-blue-950: light-dark(oklch(28.2% 0.091 267.935), oklch(97% 0.014 254.604));
  --color-x-indigo-50: light-dark(oklch(96.2% 0.018 272.314), oklch(25.7% 0.09 281.288));
  --color-x-indigo-100: light-dark(oklch(93% 0.034 272.788), oklch(35.9% 0.144 278.697));
  --color-x-indigo-200: light-dark(oklch(87% 0.065 274.039), oklch(39.8% 0.195 277.366));
  --color-x-indigo-300: light-dark(oklch(78.5% 0.115 274.713), oklch(45.7% 0.24 277.023));
  --color-x-indigo-400: light-dark(oklch(67.3% 0.182 276.935), oklch(51.1% 0.262 276.966));
  --color-x-indigo-500: light-dark(oklch(58.5% 0.233 277.117), oklch(58.5% 0.233 277.117));
  --color-x-indigo-600: light-dark(oklch(51.1% 0.262 276.966), oklch(67.3% 0.182 276.935));
  --color-x-indigo-700: light-dark(oklch(45.7% 0.24 277.023), oklch(78.5% 0.115 274.713));
  --color-x-indigo-800: light-dark(oklch(39.8% 0.195 277.366), oklch(87% 0.065 274.039));
  --color-x-indigo-900: light-dark(oklch(35.9% 0.144 278.697), oklch(93% 0.034 272.788));
  --color-x-indigo-950: light-dark(oklch(25.7% 0.09 281.288), oklch(96.2% 0.018 272.314));
  --color-x-violet-50: light-dark(oklch(96.9% 0.016 293.756), oklch(28.3% 0.141 291.089));
  --color-x-violet-100: light-dark(oklch(94.3% 0.029 294.588), oklch(38% 0.189 293.745));
  --color-x-violet-200: light-dark(oklch(89.4% 0.057 293.283), oklch(43.2% 0.232 292.759));
  --color-x-violet-300: light-dark(oklch(81.1% 0.111 293.571), oklch(49.1% 0.27 292.581));
  --color-x-violet-400: light-dark(oklch(70.2% 0.183 293.541), oklch(54.1% 0.281 293.009));
  --color-x-violet-500: light-dark(oklch(60.6% 0.25 292.717), oklch(60.6% 0.25 292.717));
  --color-x-violet-600: light-dark(oklch(54.1% 0.281 293.009), oklch(70.2% 0.183 293.541));
  --color-x-violet-700: light-dark(oklch(49.1% 0.27 292.581), oklch(81.1% 0.111 293.571));
  --color-x-violet-800: light-dark(oklch(43.2% 0.232 292.759), oklch(89.4% 0.057 293.283));
  --color-x-violet-900: light-dark(oklch(38% 0.189 293.745), oklch(94.3% 0.029 294.588));
  --color-x-violet-950: light-dark(oklch(28.3% 0.141 291.089), oklch(96.9% 0.016 293.756));
  --color-x-purple-50: light-dark(oklch(97.7% 0.014 308.299), oklch(29.1% 0.149 302.717));
  --color-x-purple-100: light-dark(oklch(94.6% 0.033 307.174), oklch(38.1% 0.176 304.987));
  --color-x-purple-200: light-dark(oklch(90.2% 0.063 306.703), oklch(43.8% 0.218 303.724));
  --color-x-purple-300: light-dark(oklch(82.7% 0.119 306.383), oklch(49.6% 0.265 301.924));
  --color-x-purple-400: light-dark(oklch(71.4% 0.203 305.504), oklch(55.8% 0.288 302.321));
  --color-x-purple-500: light-dark(oklch(62.7% 0.265 303.9), oklch(62.7% 0.265 303.9));
  --color-x-purple-600: light-dark(oklch(55.8% 0.288 302.321), oklch(71.4% 0.203 305.504));
  --color-x-purple-700: light-dark(oklch(49.6% 0.265 301.924), oklch(82.7% 0.119 306.383));
  --color-x-purple-800: light-dark(oklch(43.8% 0.218 303.724), oklch(90.2% 0.063 306.703));
  --color-x-purple-900: light-dark(oklch(38.1% 0.176 304.987), oklch(94.6% 0.033 307.174));
  --color-x-purple-950: light-dark(oklch(29.1% 0.149 302.717), oklch(97.7% 0.014 308.299));
  --color-x-fuchsia-50: light-dark(oklch(97.7% 0.017 320.058), oklch(29.3% 0.136 325.661));
  --color-x-fuchsia-100: light-dark(oklch(95.2% 0.037 318.852), oklch(40.1% 0.17 325.612));
  --color-x-fuchsia-200: light-dark(oklch(90.3% 0.076 319.62), oklch(45.2% 0.211 324.591));
  --color-x-fuchsia-300: light-dark(oklch(83.3% 0.145 321.434), oklch(51.8% 0.253 323.949));
  --color-x-fuchsia-400: light-dark(oklch(74% 0.238 322.16), oklch(59.1% 0.293 322.896));
  --color-x-fuchsia-500: light-dark(oklch(66.7% 0.295 322.15), oklch(66.7% 0.295 322.15));
  --color-x-fuchsia-600: light-dark(oklch(59.1% 0.293 322.896), oklch(74% 0.238 322.16));
  --color-x-fuchsia-700: light-dark(oklch(51.8% 0.253 323.949), oklch(83.3% 0.145 321.434));
  --color-x-fuchsia-800: light-dark(oklch(45.2% 0.211 324.591), oklch(90.3% 0.076 319.62));
  --color-x-fuchsia-900: light-dark(oklch(40.1% 0.17 325.612), oklch(95.2% 0.037 318.852));
  --color-x-fuchsia-950: light-dark(oklch(29.3% 0.136 325.661), oklch(97.7% 0.017 320.058));
  --color-x-pink-50: light-dark(oklch(97.1% 0.014 343.198), oklch(28.4% 0.109 3.907));
  --color-x-pink-100: light-dark(oklch(94.8% 0.028 342.258), oklch(40.8% 0.153 2.432));
  --color-x-pink-200: light-dark(oklch(89.9% 0.061 343.231), oklch(45.9% 0.187 3.815));
  --color-x-pink-300: light-dark(oklch(82.3% 0.12 346.018), oklch(52.5% 0.223 3.958));
  --color-x-pink-400: light-dark(oklch(71.8% 0.202 349.761), oklch(59.2% 0.249 0.584));
  --color-x-pink-500: light-dark(oklch(65.6% 0.241 354.308), oklch(65.6% 0.241 354.308));
  --color-x-pink-600: light-dark(oklch(59.2% 0.249 0.584), oklch(71.8% 0.202 349.761));
  --color-x-pink-700: light-dark(oklch(52.5% 0.223 3.958), oklch(82.3% 0.12 346.018));
  --color-x-pink-800: light-dark(oklch(45.9% 0.187 3.815), oklch(89.9% 0.061 343.231));
  --color-x-pink-900: light-dark(oklch(40.8% 0.153 2.432), oklch(94.8% 0.028 342.258));
  --color-x-pink-950: light-dark(oklch(28.4% 0.109 3.907), oklch(97.1% 0.014 343.198));
  --color-x-rose-50: light-dark(oklch(96.9% 0.015 12.422), oklch(27.1% 0.105 12.094));
  --color-x-rose-100: light-dark(oklch(94.1% 0.03 12.58), oklch(41% 0.159 10.272));
  --color-x-rose-200: light-dark(oklch(89.2% 0.058 10.001), oklch(45.5% 0.188 13.697));
  --color-x-rose-300: light-dark(oklch(81% 0.117 11.638), oklch(51.4% 0.222 16.935));
  --color-x-rose-400: light-dark(oklch(71.2% 0.194 13.428), oklch(58.6% 0.253 17.585));
  --color-x-rose-500: light-dark(oklch(64.5% 0.246 16.439), oklch(64.5% 0.246 16.439));
  --color-x-rose-600: light-dark(oklch(58.6% 0.253 17.585), oklch(71.2% 0.194 13.428));
  --color-x-rose-700: light-dark(oklch(51.4% 0.222 16.935), oklch(81% 0.117 11.638));
  --color-x-rose-800: light-dark(oklch(45.5% 0.188 13.697), oklch(89.2% 0.058 10.001));
  --color-x-rose-900: light-dark(oklch(41% 0.159 10.272), oklch(94.1% 0.03 12.58));
  --color-x-rose-950: light-dark(oklch(27.1% 0.105 12.094), oklch(96.9% 0.015 12.422));
  --color-x-slate-50: light-dark(oklch(98.4% 0.003 247.858), oklch(12.9% 0.042 264.695));
  --color-x-slate-100: light-dark(oklch(96.8% 0.007 247.896), oklch(20.8% 0.042 265.755));
  --color-x-slate-200: light-dark(oklch(92.9% 0.013 255.508), oklch(27.9% 0.041 260.031));
  --color-x-slate-300: light-dark(oklch(86.9% 0.022 252.894), oklch(37.2% 0.044 257.287));
  --color-x-slate-400: light-dark(oklch(70.4% 0.04 256.788), oklch(44.6% 0.043 257.281));
  --color-x-slate-500: light-dark(oklch(55.4% 0.046 257.417), oklch(55.4% 0.046 257.417));
  --color-x-slate-600: light-dark(oklch(44.6% 0.043 257.281), oklch(70.4% 0.04 256.788));
  --color-x-slate-700: light-dark(oklch(37.2% 0.044 257.287), oklch(86.9% 0.022 252.894));
  --color-x-slate-800: light-dark(oklch(27.9% 0.041 260.031), oklch(92.9% 0.013 255.508));
  --color-x-slate-900: light-dark(oklch(20.8% 0.042 265.755), oklch(96.8% 0.007 247.896));
  --color-x-slate-950: light-dark(oklch(12.9% 0.042 264.695), oklch(98.4% 0.003 247.858));
  --color-x-gray-50: light-dark(oklch(98.5% 0.002 247.839), oklch(13% 0.028 261.692));
  --color-x-gray-100: light-dark(oklch(96.7% 0.003 264.542), oklch(21% 0.034 264.665));
  --color-x-gray-200: light-dark(oklch(92.8% 0.006 264.531), oklch(27.8% 0.033 256.848));
  --color-x-gray-300: light-dark(oklch(87.2% 0.01 258.338), oklch(37.3% 0.034 259.733));
  --color-x-gray-400: light-dark(oklch(70.7% 0.022 261.325), oklch(44.6% 0.03 256.802));
  --color-x-gray-500: light-dark(oklch(55.1% 0.027 264.364), oklch(55.1% 0.027 264.364));
  --color-x-gray-600: light-dark(oklch(44.6% 0.03 256.802), oklch(70.7% 0.022 261.325));
  --color-x-gray-700: light-dark(oklch(37.3% 0.034 259.733), oklch(87.2% 0.01 258.338));
  --color-x-gray-800: light-dark(oklch(27.8% 0.033 256.848), oklch(92.8% 0.006 264.531));
  --color-x-gray-900: light-dark(oklch(21% 0.034 264.665), oklch(96.7% 0.003 264.542));
  --color-x-gray-950: light-dark(oklch(13% 0.028 261.692), oklch(98.5% 0.002 247.839));
  --color-x-zinc-50: light-dark(oklch(98.5% 0 0), oklch(14.1% 0.005 285.823));
  --color-x-zinc-100: light-dark(oklch(96.7% 0.001 286.375), oklch(21% 0.006 285.885));
  --color-x-zinc-200: light-dark(oklch(92% 0.004 286.32), oklch(27.4% 0.006 286.033));
  --color-x-zinc-300: light-dark(oklch(87.1% 0.006 286.286), oklch(37% 0.013 285.805));
  --color-x-zinc-400: light-dark(oklch(70.5% 0.015 286.067), oklch(44.2% 0.017 285.786));
  --color-x-zinc-500: light-dark(oklch(55.2% 0.016 285.938), oklch(55.2% 0.016 285.938));
  --color-x-zinc-600: light-dark(oklch(44.2% 0.017 285.786), oklch(70.5% 0.015 286.067));
  --color-x-zinc-700: light-dark(oklch(37% 0.013 285.805), oklch(87.1% 0.006 286.286));
  --color-x-zinc-800: light-dark(oklch(27.4% 0.006 286.033), oklch(92% 0.004 286.32));
  --color-x-zinc-900: light-dark(oklch(21% 0.006 285.885), oklch(96.7% 0.001 286.375));
  --color-x-zinc-950: light-dark(oklch(14.1% 0.005 285.823), oklch(98.5% 0 0));
  --color-x-neutral-50: light-dark(oklch(98.5% 0 0), oklch(14.5% 0 0));
  --color-x-neutral-100: light-dark(oklch(97% 0 0), oklch(20.5% 0 0));
  --color-x-neutral-200: light-dark(oklch(92.2% 0 0), oklch(26.9% 0 0));
  --color-x-neutral-300: light-dark(oklch(87% 0 0), oklch(37.1% 0 0));
  --color-x-neutral-400: light-dark(oklch(70.8% 0 0), oklch(43.9% 0 0));
  --color-x-neutral-500: light-dark(oklch(55.6% 0 0), oklch(55.6% 0 0));
  --color-x-neutral-600: light-dark(oklch(43.9% 0 0), oklch(70.8% 0 0));
  --color-x-neutral-700: light-dark(oklch(37.1% 0 0), oklch(87% 0 0));
  --color-x-neutral-800: light-dark(oklch(26.9% 0 0), oklch(92.2% 0 0));
  --color-x-neutral-900: light-dark(oklch(20.5% 0 0), oklch(97% 0 0));
  --color-x-neutral-950: light-dark(oklch(14.5% 0 0), oklch(98.5% 0 0));
  --color-x-stone-50: light-dark(oklch(98.5% 0.001 106.423), oklch(14.7% 0.004 49.25));
  --color-x-stone-100: light-dark(oklch(97% 0.001 106.424), oklch(21.6% 0.006 56.043));
  --color-x-stone-200: light-dark(oklch(92.3% 0.003 48.717), oklch(26.8% 0.007 34.298));
  --color-x-stone-300: light-dark(oklch(86.9% 0.005 56.366), oklch(37.4% 0.01 67.558));
  --color-x-stone-400: light-dark(oklch(70.9% 0.01 56.259), oklch(44.4% 0.011 73.639));
  --color-x-stone-500: light-dark(oklch(55.3% 0.013 58.071), oklch(55.3% 0.013 58.071));
  --color-x-stone-600: light-dark(oklch(44.4% 0.011 73.639), oklch(70.9% 0.01 56.259));
  --color-x-stone-700: light-dark(oklch(37.4% 0.01 67.558), oklch(86.9% 0.005 56.366));
  --color-x-stone-800: light-dark(oklch(26.8% 0.007 34.298), oklch(92.3% 0.003 48.717));
  --color-x-stone-900: light-dark(oklch(21.6% 0.006 56.043), oklch(97% 0.001 106.424));
  --color-x-stone-950: light-dark(oklch(14.7% 0.004 49.25), oklch(98.5% 0.001 106.423));
}
