@layer base {
  html {
    font-size: 16px;
    background-color: var(--color-background);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
    letter-spacing: -0.4px;
  }

  img,
  svg,
  canvas {
    display: inline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: 600;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  hr {
    margin: 0.5rem 0;
  }

  a {
    color: #09c;
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }

    &.external {
      color: light-dark(#093, #3a6);
      border-bottom: 1px solid #0936;

      &:hover {
        text-decoration: none;
        border-bottom-color: #093;
      }
    }

    &.new {
      color: light-dark(#b00, #d77);
    }
  }

  button {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  ul {
    list-style: disc;
    padding: 0 0 0 1.5rem;
  }

  li {
    margin: 0;
  }

  pre {
    white-space: pre-wrap;
    word-break: break-all;
  }

  textarea {
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }

  input:disabled {
    cursor: not-allowed;
    opacity: 0.8;
    color: var(--color-muted-foreground);
  }

  .z-input {
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-background);
  }
}
