@reference 'tailwindcss';

.max-w-8xl {
  max-width: 90rem;
}

.navlink {
  color: white;
  @apply flex items-center no-underline px-3;

  &:hover {
    background-color: var(--color-always-slate-800);
    text-decoration-line: none;
  }

  &.current {
    color: var(--color-always-yellow-200);
  }
}
