.dataframe {
  text-align: right;
  border-collapse: collapse;
  overflow: hidden;

  thead {
    th {
      padding: 0.25rem;
      font-weight: 600;
      border-bottom: 1px solid #d4d4d8;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #e4e4e7;
      }

      &:hover {
        background-color: #d4d4d8;
      }
    }

    th {
      padding: 0.25rem;
    }

    td {
      padding: 0.25rem;
    }
  }
}

/* Dark mode */
.dark {
  .dataframe {
    thead {
      th {
        border-bottom-color: #52525b;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #333333;
      }

      tr:hover {
        background-color: #3f3f46;
      }
    }
  }
}
