/* Light mode */
.ansi30 {
  color: #000000;
}

.ansi31 {
  color: #dc2626;
}

.ansi32 {
  color: #16a34a;
}

.ansi33 {
  color: #ca8a04;
}

.ansi34 {
  color: #2563eb;
}

.ansi35 {
  color: #9333ea;
}

.ansi36 {
  color: #0891b2;
}

.ansi37 {
  color: #4b5563;
}

.ansi90 {
  color: #6b7280;
}

.ansi91 {
  color: #f87171;
}

.ansi92 {
  color: #4ade80;
}

.ansi93 {
  color: #facc15;
}

.ansi94 {
  color: #60a5fa;
}

.ansi95 {
  color: #c084fc;
}

.ansi96 {
  color: #22d3ee;
}

.ansi97 {
  color: #9ca3af;
}

/* Dark mode */
.dark {
  .ansi30 {
    color: #6b7280;
  }

  .ansi31 {
    color: #f87171;
  }

  .ansi32 {
    color: #4ade80;
  }

  .ansi33 {
    color: #facc15;
  }

  .ansi34 {
    color: #60a5fa;
  }

  .ansi35 {
    color: #c084fc;
  }

  .ansi36 {
    color: #22d3ee;
  }

  .ansi37 {
    color: #9ca3af;
  }

  .ansi90 {
    color: #4b5563;
  }

  .ansi91 {
    color: #fca5a5;
  }

  .ansi92 {
    color: #86efac;
  }

  .ansi93 {
    color: #fde047;
  }

  .ansi94 {
    color: #93c5fd;
  }

  .ansi95 {
    color: #d8b4fe;
  }

  .ansi96 {
    color: #67e8f9;
  }

  .ansi97 {
    color: #e5e7eb;
  }
}
