@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  :root {
    --bg: #fff;
    --bg-muted: #f6f6f6;
    --text: #090909;
    --muted: #444;
    --muted2: #bbb;
    --border: #8884;

    --link: #09c;
    --link-ext: #093;
    --link-new: #d38;

    --link-bg: #09c1;
    --link-bg-hover: #09c3;

    --card-bg: #fff;
    --card-border: #e4e4e4;
  }
}

.dark {
  --bg: #090909;
  --bg-muted: #222;
  --text: #eee;
  --muted: #bbb;
  --muted2: #888;

  --border: #8884;

  --link: #6af;
  --link-ext: #3a6;
  --link-new: #e77;

  --link-bg: #6af3;
  --link-bg-hover: #6af4;

  --card-bg: #151515;
  --card-border: #252525;
}