@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  :root {
    --z-text2: var(--color-neutral-400);

    --z-card: var(--color-white);
    --z-card-hover: var(--color-neutral-100);
    --z-head: var(--color-slate-200);
    --z-text: var(--color-zinc-700);

    --bg: #fff;
    --bg-muted: #f9f9f9;
    --text: #1e1e1e;
    --muted: #444;
    --muted2: #bbb;
    --border: #8884;

    --link: #09c;
    --link-ext: #093;
    --link-new: #933;

    --link-bg: #09c1;
    --link-bg-hover: #09c3;
    --link-new-bg: #9331;
  }
}

.dark {
  --z-card: var(--color-neutral-900);
  --z-card-hover: var(--color-neutral-800);
  --z-head: var(--color-zinc-800);
  --z-text: var(--color-zinc-300);

  --bg: #1e1e1e;
  --bg-muted: #2a2a2a;
  --text: #fff;
  --muted: #ddd;
  --muted2: #888;

  --border: #8884;

  --link: #0ad;
  --link-ext: #3a6;
  --link-new: #faa;

  --link-bg: #0ad1;
  --link-new-bg: #faa1;
}