@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  :root {
    --site-font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "Apple SD Gothic Neo", Roboto, "Noto Sans KR", "Noto Sans", sans-serif;

    --bg: #fff;
    --bg-muted: #f6f6f6;
    --text: #131313;
    --muted: #444;
    --muted2: #bbb;
    --border: #8884;

    --link: #09c;
    --link-ext: #093;
    --link-new: #d38;

    --link-bg: #09c1;
    --link-bg-hover: #09c3;

    --card-bg: #fff;
    --card-border: #e2e2e2;
  }
}

.dark {
  --bg: #131313;
  --bg-muted: #222;
  --text: #eee;
  --muted: #bbb;
  --muted2: #888;

  --border: #8884;

  --link: #6af;
  --link-ext: #3a6;
  --link-new: #e77;

  --link-bg: #6af3;
  --link-bg-hover: #6af4;

  --card-bg: #1f1f1f;
  --card-border: #2b2b2b;
}