@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }

  :root {
    --bg: #fff;
    --bg-muted: #f6f6f6;
    --text: #111;
    --muted: #444;
    --muted2: #bbb;
    --border: #8884;

    --link: #09c;
    --link-ext: #093;
    --link-new: #933;

    --link-bg: #09c1;
    --link-bg-hover: #09c3;
    --link-new-bg: #9331;
  }
}

.dark {
  --bg: #111;
  --bg-muted: #222;
  --text: #fff;
  --muted: #eee;
  --muted2: #888;

  --border: #8884;

  --link: #0ad;
  --link-ext: #3a6;
  --link-new: #faa;

  --link-bg: #0ad1;
  --link-new-bg: #faa1;
}