html,
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
  letter-spacing: -0.4px;
}

img,
svg,
canvas {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin-top: 1em;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.05rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: var(--link);
  text-underline-offset: 4px;
  word-break: break-all;

  &:hover {
    text-decoration-line: underline;
  }

  &.external {
    color: var(--link-ext);
    border-bottom-width: 1px;
  }

  &.new {
    color: var(--link-new);
  }
}

ul {
  list-style: disc;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}

li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}