@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--border);
  }
}

:root {
  --z-text2: theme('colors.neutral.400');
}


:root {
  --bg: #fff;
  --text: #222;
  --muted: #666;
  --muted2: #bbb;
  --border: #8884;

  --link: #00f;
  --link-ext: #077;
  --link-new: #933;
  --link-bg: #00f1;
  --link-new-bg: #9331;

  --z-card: theme('colors.white');
  --z-card-hover: theme('colors.neutral.100');
  --z-head: theme('colors.slate.200');
  --z-text: theme('colors.zinc.700');
}

.dark {
  --bg: #222;
  --text: #fff;
  --muted: #ccc;
  --muted2: #888;

  --link: #9cf;
  --link-ext: #9cc;
  --link-new: #faa;
  --link-bg: #9cf1;
  --link-new-bg: #faa1;

  --z-card: theme('colors.neutral.900');
  --z-card-hover: theme('colors.neutral.800');
  --z-head: theme('colors.zinc.800');
  --z-text: theme('colors.zinc.300');
}