/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  :root {
    color-scheme: light;

    --z-base: #fff;
    --z-base2: #fcfcfc;
    --z-base3: #f5f5f5;

    --z-border: #8884;
    --z-border2: #e2e2e2;

    --z-text: #131313;
    --z-text2: #131313cc;
    --z-text3: #13131399;
    --z-text4: #13131366;

    --z-link: #09c;
    --z-link-ext: #093;
    --z-link-ext-alpha: #0933;
    --z-link-new: #b00;

    --z-link-bg: #09c1;
    --z-link-bg-hover: #09c3;

    --z-btn-bg: #fff;
    --z-btn-hover: #ccc;

    --z-danger-bg: #c223;
    --z-danger-hover: #c226;

    --z-primary-bg: #09c4;
    --z-primary-hover: #09c8;

    --console-bg: #e4e4e4;
    --console-string: theme(colors.sky.600);
    --console-number: theme(colors.purple.600);
    --console-null: #6b7280;
    --console-circular: #f87171;

    --console-warn-bg: #fef9c3;
    --console-error-bg: #fee2e2;
    --console-detail-bg: #f1f5f9;

    --console-arrkey: #60a5fa;
    --console-objkey: #9ca3af;

    --console-emoji-debug: 🐛;
    --console-emoji-error: ❌;
    --console-emoji-info: ℹ️;
    --console-emoji-trace: 🔍;
    --console-emoji-warn: ⚠️;

    --code-bg: #f9f9f9;
    --nbout-error: #fee2e2;
  }
}

.dark {
  color-scheme: dark;

  --z-base: #131313;
  --z-base2: #181818;
  --z-base3: #1e1e1e;

  --z-border: #8884;
  --z-border2: #2b2b2b;

  --z-text: #eee;
  --z-text2: #eeed;
  --z-text3: #eeeb;
  --z-text4: #eee9;

  --z-link: #3ad;
  --z-link-ext: #3a6;
  --z-link-ext-alpha: #3a66;
  --z-link-new: #c66;

  --z-link-bg: #6af3;
  --z-link-bg-hover: #6af4;

  --z-btn-bg: #333;
  --z-btn-hover: #555;

  --console-bg: #000;
  --console-string: theme(colors.sky.400);
  --console-number: theme(colors.purple.400);

  --console-warn-bg: #413C26;
  --console-error-bg: #4E3534;
  --console-detail-bg: #1e293b;

  --code-bg: #1c2029;
  --nbout-error: #4E3534;
}

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--z-border);
  }
}