html {
  font-size: 16px;
  background-color: var(--z-bg);
}

body {
  background-color: var(--z-bg);
  color: var(--z-text);
  font: var(--z-site-font-family);
  letter-spacing: -0.4px;
}

img,
svg,
canvas {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin-top: 1em;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.05rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: var(--z-link);
  text-underline-offset: 4px;
  word-break: break-all;

  &:hover {
    text-decoration-line: underline;
  }

  &.external {
    color: var(--z-link-ext);
    border-bottom-width: 1px;
  }

  &.new {
    color: var(--z-link-new);
  }
}

ul {
  list-style: disc;
  padding: 0 0 0 1.5rem;
}

li {
  margin: .25rem 0;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

textarea {
  border-width: 1px;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}