.c-scrollbar {
    @apply overflow-y-auto;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-corner {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: var(--z-scrollbar);
    }
}