.z-ads-wide {
    width: 320px;
    height: 100px;
}

@media (min-width: 500px) {
    .z-ads-wide {
        width: 468px;
        height: 60px;
    }
}

@media (min-width: 800px) {
    .z-ads-wide {
        width: 728px;
        height: 90px;
    }
}