.z-btn {
    @apply rounded mx-0.5 text-xs p-2 px-4;
    background-color: var(--z-btn);
    color: var(--z-text);
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;

    &:hover {
        @apply no-underline brightness-90 dark:brightness-150 text-inherit;
    }

    &:disabled,
    &.disabled {
        @apply opacity-50 cursor-not-allowed;
    }
}