.z-scrollbar {
  // &::-webkit-scrollbar-track {
  //   background: transparent;
  // }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-corner {
    background: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--z-scrollbar);
    border-radius: 8px;
  }

}
