/* simple classes */
.z-bg {
    background-color: var(--bg);
}

.z-break-word {
    word-break: break-word;
    /* TODO: deprecated https://developer.mozilla.org/en-US/docs/Web/CSS/word-break#values */
}

.z-card {
    background-color: var(--z-card);

    &:hover {
        background-color: var(--z-card-hover);
    }
}

.z-muted {
    color: var(--muted);
}

.z-text {
    color: var(--text);
}

/* component classes */
.z-btn {
    background-color: var(--z-btn);
    color: var(--z-text);

    border-radius: 0.25rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;

    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;

    &:hover {
        text-decoration: none;
        filter: brightness(0.9);
        color: inherit;
    }

    .dark &::hover,
    .dark &:hover {
        filter: brightness(1.5);
    }

    &:disabled,
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.z-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #8884;
        border-radius: 1em;
    }
}