<div id="app" class="min-h-screen flex flex-col">
  <nav id="navbar" class="text-sm bg-slate-700 text-white">
    <div class="flex flex-wrap items-center max-w-8xl mx-auto w-full">
      <div class="order-1 flex items-stretch h-12">
        <a href="/" class="navlink">
          <img alt="zetawiki" src="/zeta.svg" class="h-6 w-6" />
          <span class="hidden xl:inline ml-2 text-lg font-semibold">제타위키</span>
        </a>
        <a href="/" class="navlink !text-yellow-200">위키</a>
        <a href="/forum" class="navlink">포럼</a>
        <a href="/tool/common-report" class="navlink">도구</a>
      </div>
      <div class="order-2 contents md:flex md:items-stretch md:ml-auto md:w-auto md:flex-1 md:max-w-2xl">
        <div class="md:group order-2 ml-auto contents md:relative md:inline-block">
          <navbar-user-menu :user-menu='{{{ jsonUserMenu }}}'></navbar-user-menu>
        </div>
        <div class="order-3 basis-full min-w-0 md:order-1 md:basis-auto md:flex-1">
          <c-navbar-search></c-navbar-search>
        </div>
      </div>
    </div>
  </nav>
  <main class="flex-1 w-full max-w-8xl mx-auto">
    <div class="flex flex-row {{#hasBinders}}has-binders{{/hasBinders}}">
      {{#hasBinders}}
      <binder-main></binder-main>
      {{/hasBinders}}

      <div class="flex-auto">
        <div class="p-4 py-8 md:m-4 md:p-8 md:border md:rounded-md bg-white dark:bg-neutral-900">
          <div class="text-3xl font-semibold">{{{ html-title }}}</div>
          <div>{{{ html-subtitle }}}</div>

          <div class="flow-root mt-2 text-sm">
            <div class="float-left">
              {{#is-article}}
              {{#isView}}
              <page-meta historyhref="{{ zPageMenu.history.href }}"></page-meta>
              {{/isView}}
              {{/is-article}}
            </div>

            <div class="flex float-right">
              {{#arrayButtons}}
              {{^current}}
              <a class="page-btn" {{#id}}id="{{.}}"{{/id}} href="{{href}}">{{text}}</a>
              {{/current}}
              {{/arrayButtons}}

              <page-menu>
                {{#arrayMenu}}
                <li><a href="{{href}}">{{text}}</a></li>
                {{/arrayMenu}}
              </page-menu>
            </div>
          </div>

          {{#data-portlets.data-category-normal.html-items}}
          <div class="page-cats">
            <ul>{{{ . }}}</ul>
          </div>
          {{/data-portlets.data-category-normal.html-items}}

          <article id="content" data-mw-ve-target-container class="py-6" v-pre>
            {{{ html-body-content }}}
          </article>

          {{^is-specialpage}}
          <the-runbox></the-runbox>
          <page-foot></page-foot>
          {{/is-specialpage}}
        </div>
      </div>


      {{^is-specialpage}}
      <div class="hidden hb-lg-md-block flex-none w-60 pr-3">
        <toc-main :toc='{{{ jsonTOC }}}'></toc-main>
      </div>
      {{/is-specialpage}}

    </div>
  </main>

  <c-layout-foot></c-layout-foot>
  <c-layout-remocon></c-layout-remocon>
</div>