/* ProseMirror.css */
/* Tailwind @apply + CSS Nesting 버전 */
@reference 'tailwindcss';

.ProseMirror {
  @apply outline-0;

  & > * + * {
    margin-top: 0.75em;
  }

  & ul,
  & ol {
    padding: 0 1rem;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.1;
  }

  & code {
    @apply px-2 py-1 bg-zinc-100 dark:bg-zinc-800 text-zinc-600 dark:text-zinc-400;
    font-size: 85%;
    border-radius: 6px;
  }

  & pre {
    @apply bg-zinc-100 dark:bg-zinc-800 text-zinc-600 dark:text-zinc-400;
    border-radius: 0.5rem;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;

    & code {
      background: none;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  & mark {
    @apply bg-yellow-700;
  }

  & img {
    @apply m-2 h-auto border-2 block;
  }

  & hr {
    @apply border-t my-8;
  }

  & blockquote {
    @apply border-l-4 pl-4 border-gray-200;
  }

  & ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    & li {
      align-items: center;
      display: flex;

      & > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      & > div {
        flex: 1 1 auto;
      }
    }
  }

  & table {
    @apply border-collapse w-full overflow-hidden table-fixed;

    & td,
    & th {
      @apply border-2 h-5 p-2 px-3 align-top box-border relative;

      & > * {
        margin-bottom: 0;
      }
    }

    & th {
      @apply font-bold text-left bg-zinc-100 dark:bg-zinc-800;
    }

    & .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    & .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }

    & p {
      margin: 0;
    }
  }

  & p {
    line-height: 1.2rem;

    & > .is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }
}

.iframe-wrapper {
  @apply w-[600px] h-[300px] border-2 rounded;

  &.ProseMirror-selectednode {
    outline: 3px solid #68cef8;
  }

  & iframe {
    @apply w-full h-full;
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
